{% extends 'base.html' %}


{% block content %}


      <!-- Store start-->
      <section class="store-hero">
    </section>
    <!-- Store end-->




    <div class="container pb-5" style="background: #fbdd85 !important;min-width:100%;">

        <div>

            <h5 class="" style="text-align: center;
            color: var(--chocolate-bg);
            font-weight: 700;padding-top: 3em;"> DELICIOUS TASTE </h5>

            <h2 style="text-align: center;
            color: var(--chocolate-bg);font-size: 2em;
            margin-bottom: 2em;" > Tasty food </h2>

            <div class="container px-lg-5">
                <div class="container px-lg-5">

                    <p class="pl-lg-5" style="color: #800000;
                    font-size: 23px;
                    line-height: 39px;
                    text-align: justify;
                    margin-top: 3em;">Family-run business, is known in Vidharbh for its uniquely blended Indian snacks, sweets, baked goods and more. Our products are made from recipes passed down from generation to generation, with top-quality ingredients in state-of-the-art facilities</p>

                </div>
            </div>
        </div>

    </div>


    

    <div class="">
    <section class="sweet-hero">
        <div class="centered" style="text-align: center;
        font-size: 49px;
        line-height: 49px;">Sweets & Snacks</div>
    </section>
</div>

{% endblock content %}