{% extends 'base.html' %}


{% block content %}


    <!-- Store start-->
    <section class="lodding-booking">
    </section>
    <!-- Store end-->




    <div class="container" style="min-width:100%;">

        <div>

            <h5 class="" style="text-align: center;
            color: var(--yellow-bg);
            font-weight: 700;padding-top: 3em;"> COMFORTABLE STAY
            
             </h5>

            <h2 style="text-align: center;
            color: var(--chocolate-bg);font-size: 22px;
            font-weight: 900;font-size: 2em;
            margin-bottom: 2em;"> lodging </h2>


           
        </div>

    </div>


    
    <div class="container" style="background: #942621 !important;min-width:100%;text-align: center;padding : 3em">

        <div class="mb-4">

            <button type="button" class="btn btn-warning btn-lg mx-3">AC</button>
            <button type="button" class="btn btn-warning btn-lg mx-3">NON AC</button>
            <button type="button" class="btn btn-warning btn-lg mx-3">DELUX</button>
            <button type="button" class="btn btn-warning btn-lg mx-3">SINGLE BED</button>
            <button type="button" class="btn btn-warning btn-lg mx-3">DOUBLE BED</button>

        </div>

        <div>

            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">24-hour reception  <span style="color: #ffcc00;">|</span>&nbsp; check-out by 12.00  <span style="color: #ffcc00;">|</span>&nbsp; Breakfast <span style="color: #ffcc00;">|</span>&nbsp; Lunch<span style="color: #ffcc00;">|</span>&nbsp;Dinner</span>
            <br>


            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Room service <span style="color: #ffcc00;">|</span>&nbsp; Allergy friendly rooms  <span style="color: #ffcc00;">|</span>&nbsp; Rooms with Air conditioning </span>
            
            <br>
            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Coffee and tea facilities in all rooms <span style="color: #ffcc00;">|</span>&nbsp; Free Wi-Fi in all rooms  <span style="color: #ffcc00;">|</span>&nbsp;  fire safety </span>
            
            <br>
            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Business lounge with free Wi-Fi  <span style="color: #ffcc00;">|</span>&nbsp; conference rooms <span style="color: #ffcc00;">|</span>&nbsp;  Wake-up call </span> </span>
            
            <br>
            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Free WiFi in meeting rooms <span style="color: #ffcc00;">|</span>&nbsp; lobby and restaurants <span style="color: #ffcc00;">|</span>&nbsp; Car hire </span> </span>
            
            <br>
            <span><span style="color: #ffffff; font-size: 33px;display: block;">Laundry and dry cleaning</span></span>
            
        </div>

    </div>
    

    <div class="">
        <section class="birthday-hero" style="display: flex;
        justify-content: center;
        /* justify-items: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;">
            <div class="centered" style="text-align: center;line-height:1em;
            font-size: 49px;color:yellow;
            line-height: 49px;"><p>Spacious Hall Available for </p> 
            Birthday Pary, BC <p> Party </p>
            <p>and any kind of celebrations </p></div>
        </section>

    
    </div>


{% endblock content %}