{% extends 'base.html' %}


{% block content %}


      <!-- Store start-->
      <section class="resturant-hero">
    </section>
    <!-- Store end-->




    <div class="container" style="min-width:100%;">

        <div>

            <h5 class="" style="text-align: center;
            color: var(--yellow-bg);
            font-weight: 700;padding-top: 3em;"> FAMILY RESTAURANT
             </h5>

            <h2 style="text-align: center;
            color: var(--chocolate-bg);font-size: 22px;
            font-weight: 900;font-size: 2em;
            margin-bottom: 2em;"> Pure Veg </h2>


           
        </div>

    </div>


    
    <div class="container" style="background: #942621 !important;min-width:100%;text-align: center;padding : 3em">

        <div>

            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Indian <span style="color: #ffcc00;">|</span>&nbsp; South Indian <span style="color: #ffcc00;">|</span>&nbsp; Chinese <span style="color: #ffcc00;">|</span>&nbsp; Continental</span>
            <br>


            <span style="color: #ffffff; font-size: 33px; line-height: 59px;display: block;">Punjabi <span style="color: #ffcc00;">|</span>&nbsp; Pav Bhaji <span style="color: #ffcc00;">|</span>&nbsp; Pizza &amp; Burger, <span style="color: #ffcc00;">|</span>&nbsp; Shakes &amp; Juice </span>
            
            <br>
            <span><strong><span style="color: #ffffff; font-size: 33px;display: block;">Ice-cream and much more…</span></strong></span>
            
        </div>

    </div>
    

    <div class="">
        <section class="birthday-hero" style="display: flex;
        justify-content: center;
        /* justify-items: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;">
            <div class="centered" style="text-align: center;line-height:1em;
            font-size: 49px;color:yellow;
            line-height: 49px;"><p>Spacious Hall Available for </p> 
            Birthday Pary, BC <p> Party </p>
            <p>and any kind of celebrations </p></div>
        </section>

    
    </div>


{% endblock content %}