{% extends 'base.html' %}

{% block content %}


    <!-- Store start-->
    <section class="store-hero">
    </section>
    <!-- Store end-->

    <div class="container">
        <!-- List and filters starts -->
        <div class="row">
            <div class="col-md-3">


                <div class="accordion mt-5 shadow-sm" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Filter By
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column">
                                <div class="filter-item active">Recommended</div>
                                <div class="filter-item">Recommended</div>
                                <div class="filter-item">Recommended</div>
                                <div class="filter-item">Recommended</div>
                                <div class="filter-item">Recommended</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                {% csrf_token %}

                {% for i in data %}


                <!-- card starts -->
                <div class="card shadow-sm mt-5 mb-4 flex-row gap-2">
                    <div class=" d-flex flex-column gap-2">
                        <img class=" card-img-top"
                            src="{{ i.image.url }}"
                            alt="Card image cap">
                            <div class="d-flex">
                               
                                
                                <div>
                                    {% if i.unit_details.all|length >= 2 %}
                                        <a class="btn btn-primary" id="add_to" onclick="openModal({{ i.id }})">Add</a>
                                    {% else %}
                                    <input type="text" style="width: 35%;
                                    text-align: center;
                                    margin-right: 11px;" id="{{ i.id }}" name="qty" id="qty" class="form-control" value="1">  </div>
                                
                                        <a onclick="add_to_cart({{ i.id }})" class="btn btn-primary">Add</a>
                                    {% endif %}

                                </div>
                            </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ i.name }}</h5>
                        <div class="rating-stars mb-1 d-flex align-items-center">
                            <div>


                                <svg xmlns="http://www.w3.org/2000/svg" fill="#F3C117" width="14" height="14"
                                    viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                    class="sc-rbbb40-0 kyPUnV">
                                    <title>star-fill</title>
                                    <path
                                        d="M6.76 6.8l-6.38 0.96c-0.22 0.040-0.38 0.22-0.38 0.44 0 0.12 0.040 0.24 0.12 0.32v0l4.64 4.76-1.1 6.66c0 0.020 0 0.040 0 0.080 0 0.24 0.2 0.44 0.44 0.44 0.1 0 0.16-0.020 0.24-0.060v0l5.7-3.12 5.68 3.12c0.060 0.040 0.14 0.060 0.22 0.060 0.24 0 0.44-0.2 0.44-0.44 0-0.040 0-0.060 0-0.080v0l-1.1-6.66 4.64-4.76c0.080-0.080 0.12-0.2 0.12-0.32 0-0.22-0.16-0.4-0.36-0.44h-0.020l-6.38-0.96-2.96-6.18c-0.060-0.12-0.18-0.2-0.32-0.2s-0.26 0.080-0.32 0.2v0z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#F3C117" width="14" height="14"
                                    viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                    class="sc-rbbb40-0 kyPUnV">
                                    <title>star-fill</title>
                                    <path
                                        d="M6.76 6.8l-6.38 0.96c-0.22 0.040-0.38 0.22-0.38 0.44 0 0.12 0.040 0.24 0.12 0.32v0l4.64 4.76-1.1 6.66c0 0.020 0 0.040 0 0.080 0 0.24 0.2 0.44 0.44 0.44 0.1 0 0.16-0.020 0.24-0.060v0l5.7-3.12 5.68 3.12c0.060 0.040 0.14 0.060 0.22 0.060 0.24 0 0.44-0.2 0.44-0.44 0-0.040 0-0.060 0-0.080v0l-1.1-6.66 4.64-4.76c0.080-0.080 0.12-0.2 0.12-0.32 0-0.22-0.16-0.4-0.36-0.44h-0.020l-6.38-0.96-2.96-6.18c-0.060-0.12-0.18-0.2-0.32-0.2s-0.26 0.080-0.32 0.2v0z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#F3C117" width="14" height="14"
                                    viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                    class="sc-rbbb40-0 kyPUnV">
                                    <title>star-fill</title>
                                    <path
                                        d="M6.76 6.8l-6.38 0.96c-0.22 0.040-0.38 0.22-0.38 0.44 0 0.12 0.040 0.24 0.12 0.32v0l4.64 4.76-1.1 6.66c0 0.020 0 0.040 0 0.080 0 0.24 0.2 0.44 0.44 0.44 0.1 0 0.16-0.020 0.24-0.060v0l5.7-3.12 5.68 3.12c0.060 0.040 0.14 0.060 0.22 0.060 0.24 0 0.44-0.2 0.44-0.44 0-0.040 0-0.060 0-0.080v0l-1.1-6.66 4.64-4.76c0.080-0.080 0.12-0.2 0.12-0.32 0-0.22-0.16-0.4-0.36-0.44h-0.020l-6.38-0.96-2.96-6.18c-0.060-0.12-0.18-0.2-0.32-0.2s-0.26 0.080-0.32 0.2v0z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#F3C117" width="14" height="14"
                                    viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                    class="sc-rbbb40-0 kyPUnV">
                                    <title>star-fill</title>
                                    <path
                                        d="M6.76 6.8l-6.38 0.96c-0.22 0.040-0.38 0.22-0.38 0.44 0 0.12 0.040 0.24 0.12 0.32v0l4.64 4.76-1.1 6.66c0 0.020 0 0.040 0 0.080 0 0.24 0.2 0.44 0.44 0.44 0.1 0 0.16-0.020 0.24-0.060v0l5.7-3.12 5.68 3.12c0.060 0.040 0.14 0.060 0.22 0.060 0.24 0 0.44-0.2 0.44-0.44 0-0.040 0-0.060 0-0.080v0l-1.1-6.66 4.64-4.76c0.080-0.080 0.12-0.2 0.12-0.32 0-0.22-0.16-0.4-0.36-0.44h-0.020l-6.38-0.96-2.96-6.18c-0.060-0.12-0.18-0.2-0.32-0.2s-0.26 0.080-0.32 0.2v0z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#E8E8E8" width="14" height="14"
                                    viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                    class="sc-rbbb40-0 kyPUnV">
                                    <title>star-fill</title>
                                    <path
                                        d="M6.76 6.8l-6.38 0.96c-0.22 0.040-0.38 0.22-0.38 0.44 0 0.12 0.040 0.24 0.12 0.32v0l4.64 4.76-1.1 6.66c0 0.020 0 0.040 0 0.080 0 0.24 0.2 0.44 0.44 0.44 0.1 0 0.16-0.020 0.24-0.060v0l5.7-3.12 5.68 3.12c0.060 0.040 0.14 0.060 0.22 0.060 0.24 0 0.44-0.2 0.44-0.44 0-0.040 0-0.060 0-0.080v0l-1.1-6.66 4.64-4.76c0.080-0.080 0.12-0.2 0.12-0.32 0-0.22-0.16-0.4-0.36-0.44h-0.020l-6.38-0.96-2.96-6.18c-0.060-0.12-0.18-0.2-0.32-0.2s-0.26 0.080-0.32 0.2v0z">
                                    </path>
                                </svg>
                            </div>
                            <small class="text-muted ms-2 d-block mt-2"> 190 votes</small>
                        </div>
                        <span class="text-muted d-block mb-1">{{ i.price }}</span>
                        <p class="card-text text-muted">{{ i.dis }}
                        </p>
                    </div>
                </div>

                {% endfor %}

                

            </div>
        </div>
    </div>
    <!-- List and filters ends -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="myform">
                <div class="modal-header pb-0">
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <p class="text-muted">$230</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-3">
                    <h5 class="modal-title">Unit</h5>


                    
                    <div id="dynamic">  
                </div>
                <input type="text" style="width: 35%;
                text-align: center;
                margin-right: 11px;" id="{{ i.id }}" name="qty" id="qty" class="form-control" value="1">  </div>
            
                <div class="modal-footer d-flex">
                    <button type="submit" style="width: 100%;" class="btn btn-secondary d-flex justify-content-between align-items-center" data-bs-dismiss="modal">
                        <span class="d-block">TOTAL <b>$230</b></span> 
                        <span  class="d-block">ADD ITEM</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
  

    <!-- Modal -->
    <!-- popup code end -->
{% endblock content %}

    {% block script %}

<script>


        function add_to_cart(id){


            qty = document.getElementById(id).value;
                    
            $.ajax({
                cache: false, // initialize an AJAX request
                type: "POST",
                url: "{% url 'add_to_cart' %}",
                data: {
                    csrfmiddlewaretoken:  '{{ csrf_token  }}',
                    product_id : id,
                    qty: qty, // ad
                },
        


    
                success: function (data) {
  
    
                  alert('done')
                }

                
                });
                

          

            }


            function openModal(id) {

                $.ajax({
                    cache: false, // initialize an AJAX request
                    type: "POST",
                    url: "{% url 'product_option' %}",
                    data: {
                        csrfmiddlewaretoken:  '{{ csrf_token  }}',
                        product_id : id,
                    
                    },
            
        
                    success: function (data) {
                        
                       

                        data = JSON.parse(data.result)


                        console.log(data)



                        let option = ''
                        

                        for (let i = 0; i < data.length; i++) {

                            

                            option+= `<div class="d-flex justify-content-between align-items-center"> 
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" value="` + data[i].pk + `" name="unitradio" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">`+  
                                                data[i].fields.unit +
                                                `- <span class="text-muted">`+ data[i].fields.price +`</span>  
                                            </label>

                                 

                                        </div> 
                                       
                                    </div>`
                            
                              
                            }

                            
                        $('#exampleModalLabel').html(data[0].fields.product)

                        $('#dynamic').append(option)        
        
                            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})

                            myModal.show();
    
                      
                    }

                    
                    });
                    


                    }


                    document.getElementById("myform").addEventListener("submit", function(event){
                        event.preventDefault()

                        let unit_id = event.target.unitradio.value
                        let qty = event.target.qty.value



                        $.ajax({
                            cache: false, // initialize an AJAX request
                            type: "POST",
                            url: "{% url 'add_to_cart' %}",
                            data: {
                                csrfmiddlewaretoken:  '{{ csrf_token  }}',
                                unit_id : unit_id,
                                qty: qty, // ad
                            },
                    
            
            
                
                            success: function (data) {
              
                
                              alert('done')
                            }
            
                            
                            });
                


                      });

</script>

{% endblock script %}

